= form_for(@link,:html=>{:class=>"form-horizontal"}) do |f|
  .modal-header
    %button.close{"data-dismiss" => "modal"} ×
    %h3 Add a new Link
  .modal-body
    %fieldset
      #nameGroup.control-group
        = f.label :name, :class => "control-label"
        .controls
          = f.text_field :name, :required=>:required
      #urlGroup.control-group
        = f.label :url, :class => "control-label"
        .controls
          = f.url_field :url, :required=>:required
      #languageGroup.control-group
        = f.label :language, :class => "control-label"
        .controls
          = f.radio_button :language, :fr
          = image_tag "flags/fr.png", :class => "flag_form"
          = f.radio_button :language, :uk
          = image_tag "flags/uk.png", :class => "flag_form"
          = f.radio_button :language, :sp
          = image_tag "flags/es.png", :class => "flag_form"
      #categoryGroup.field#cat_select
        = f.label :category, :class => "control-label"
        .controls
          = f.select :category_id, options_for_select(@categories), {:include_blank => '-----'}, :required=>:required
  .modal-footer
    = f.submit

