%h1 Listing links
%table
  %tr
    %th Name
    %th Url
    %th Category
    %th
    %th
    %th
  - @links.each do |link|
    %tr
      %td= link.name
      %td= link.url
      %td= link.category.name
      %td= link_to 'Show', link
      %td= link_to 'Edit', edit_link_path(link)
      %td= link_to 'Destroy', link, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Link', new_link_path