%h1 Listing categories

%h3 Navbar Examples


%table
  %tr
    %th Name
    %th Chapter
    %th
    %th
    %th
  - @categories.each do |category|
    - if category.chapter==0
      %tr.chapter
    - else
      %tr.sub-chapter
    %td= category.name
    %td= category.chapter
    %td= link_to 'Edit', edit_admin_category_path(category)
    %td= link_to 'Destroy', admin_category_path(category), confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Category', new_admin_category_path