= form_for(@category) do |f|
  - if @category.errors.any?
    #error_explanation
      %h2
        = pluralize(@category.errors.count, "error")
        prohibited this category from being saved:
      %ul
        - @category.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = label_tag :is_chapter
    %br/
    = check_box_tag :is_chapter
  .field#cat_select
    = f.label :chapter
    %br/
    = f.select :chapter, options_for_select(@chapters), {:include_blank => '-----'}
  .actions
    = f.submit